body{
    margin-left: 0px;
    margin-right: 0px;
    background-color: goldenrod;
    color: black;
}
#cabecalho{
    background-color: goldenrod;
    box-shadow: 2px 2px 4px black;
}
.logotipo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#menu{
    margin-left: 300px; ;
}
#menu ul{
    margin-left: 100%;
    padding: 0px;
    margin: 0px;
    list-style: none;
}
#menu ul li{
    display: inline;
}
#menu ul li a{
    padding: 4px 20px;
    display:inline-block;
    /*parte visual do link*/
    background-color:black;
    color:goldenrod;
    text-decoration: none;
    border-bottom: 1px solid;
    border-radius: 5%;
}
#menu ul li a:hover{
    background-color:goldenrod;
    color: black;
}

.texto{
    text-align: center;
    font-family:algerian;
    font-size: 20px;
}
#menu02 ul {
    padding:0px;
    margin:0px;
    background-color:goldenrod;
    list-style:none;
}
#menu02 ul li {
     display: inline;
 }
#menu02 ul li a {
    padding: 2px 10px;
    display: inline-block;
    /* visual do link */    
    background-color:goldenrod;
    color: #333;
    text-decoration: none;
    border-bottom:3px solid black;
}
#menu02 ul li a:hover {
    background-color: black;
    color:goldenrod ;
    border-bottom:3px solid black;
}
.col h1{
    font-family: algerian;
    text-align: center;
    font-size: 80px;
}
.card{
    background-color: goldenrod;
    font-size: 20px;
    font-family: algerian;
    border-radius: 5%;
}
.card p{
    font-family: arial;
    font-size: 12px;
}
.container-fluid{
    border-style: inset black;
}