body{
    background-color: goldenrod;
    color: black;
}
#cabecalho{
    background-color: goldenrod;
    box-shadow: 2px 2px 4px black;
}
.logotipo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#menu{
    margin-left: 300px; ;
}
#menu ul{
    margin-left: 100%;
    padding: 0px;
    margin: 0px;
    list-style: none;
}
#menu ul li{
    display: inline;
}
#menu ul li a{
    padding: 4px 20px;
    display:inline-block;
    /*parte visual do link*/
    background-color:black;
    color:goldenrod;
    text-decoration: none;
    border-bottom: 1px solid;
    border-radius: 5%;
}
#menu ul li a:hover{
    background-color:goldenrod;
    color: black;
}
.texto{
    text-align: justify;
    font-family: sans-serif;
    font-size: 20px;
}
.texto{
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-size: 20px;
}
#menu02 ul {
    padding:0px;
    margin:0px;
    background-color:#EDEDED;
    list-style:none;
}
#menu02 ul li {
     display: inline;
 }
#menu02 ul li a {
    padding: 2px 10px;
    display: inline-block;

    /* visual do link */
    background-color:#EDEDED;
    color: #333;
    text-decoration: none;
    border-bottom:3px solid #EDEDED;
}
#menu02 ul li a:hover {
    background-color:#D6D6D6;
    color: #6D6D6D;
    border-bottom:3px solid #EA0000;
}